<div class="login">
    <div class="login-header">
        <div class="title">
            <div>
                <img src="../../../../assets/components/login/profile.svg" alt="">
                <p>név</p>
            </div>
        </div>
    </div>

    <div class="login-main">

        <div class="name">
            <p>Teljes név</p>
            <input type="text" placeholder="Próba Péter">
        </div>

        <div class="nickname">
            <p>Teljes név</p>
            <input type="text" placeholder="Peti">
        </div>

    </div>

</div>