<table>
    <tr>
        <td class="notification-img"><img src="../../../../assets/components/teble-header/tableRowImg.png" alt=""></td>
        <td class="notification-message">A cikkedet elküldtük a moderátoroknak. </td>
        <td class="notification-date">2021.05.23. 16:42</td>
        <td class="icons">
            <div>
                <div class="icon">
                    <img src="../../../../assets/components/teble-header/icon-1.svg" alt="">
                </div>
                <div class="icon">
                    <img src="../../../../assets/components/teble-header/icon-2.svg" alt="">
                </div>
                <div class="icon">
                    <img src="../../../../assets/components/teble-header/icon-3.svg" alt="">
                </div>
                <div class="icon">
                    <img src="../../../../assets/components/teble-header/icon-4.svg" alt="">
                </div>

            </div>
        </td>
    </tr>
</table>