<div class="navigation">

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-1.svg" alt="">
    </div>

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-2.svg" alt="">
    </div>

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-3.svg" alt="">
    </div>

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-4.svg" alt="">
    </div>

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-5.svg" alt="">
    </div>

    <div class="menu-item">
        <img src="../../../../assets/components/navigation/icon-6.svg" alt="">
    </div>

</div>